body {
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, p {
    text-align: center;
}

.project {
    background: #1c1c1c;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
}